body{
color:#434455;
font-family: 'Roboto', sans-serif;
background: #FFFFFF;

}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    margin-left:0;
}
img{
    display: block;
}
.container{
width: 1158px;
margin: 0 auto;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.main-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;;
    border-bottom: 1px solid #e7e9fc;
}
.main-cont{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}
.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.design-logo{
    color:  #2E2F42;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-link{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}
.menu-list{
    color: #2E2F42;
    display: flex;
    gap:40px;
}
.menu-item{
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.menu-list-item:hover,
.menu-list-item:focus{
    color: #404BBF;
}
.menu-list-item{
    color: #2E2F42;
    padding: 24px 0;
}

.menu-navigation-studio:active{
  text-decoration: underline; 
}
.menu-address-list{
    font-style: normal;
}
.menu-address-list-item{
    display: flex;
    gap: 40px;
}

.menu-addres-list-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.menu-addres-list-link:hover,
.menu-addres-list-link:focus{
    color: #404bbf;
}
.hero{
background:#2e2f42;
height: 600px;
display: flex;
text-align: center;
padding: 188px 0;

}
.visually-hidden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-text{
    display: flex;
    color: #FFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.hero-button{
    display:block;
	height: 56px;
    width: 169px;
    background-color: #4D5AE5;
    line-height: 50px;
    position: relative;
    border-radius: 4px;
    border: none;
background: var(--IRIS, #4D5AE5);
margin-top: 48px;
min-width: 169px;
cursor: pointer;
margin-inline: auto;
}
.hero-button-text{
color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}
.hero-button:hover,
.hero-button:focus{
background: #404bbf;
}
.advans-lists{
    display: flex;
    gap: 24px;
}
.sect-advans{
    padding: 120px 0;
}
.sect-advans-blocks{
font-size: 40px;
display: flex;
flex-wrap: wrap;
}
.advans-title{
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    font-weight: 500;
    margin-bottom: 8px;
}
.sect-team-list{
    display: flex;
    margin-top: 72px;
    gap: 24px;
    justify-content: center;
}
.advans-description{
    color:#434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}
.sect-team{
flex-shrink: 0;
background-color: #F4F4FD;
padding: 120px 0;
}
.sect-team-litle{
    color: #2E2F42;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}
.sect-team-blocks{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    row-gap: 32px;
    flex-basis: auto;
    align-items: center;
    width: 264px;
    height: 380px ;
}
.sect-team-text{
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    margin-bottom: 8px;
}
.port-text{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.sect-team-text{
  align-content: center;
}
.team-name{
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-align: center
 
}
.team-profess-description{
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;

}
.porfolio-page{
    flex-shrink: 0;
    background: #FFF;
}

.porfolio-title{
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;

}
.portfolio-list{
    display: flex;
    margin-top: 72px;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 48px;
   
  
}
.porfolio-blocks{
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    flex-direction:column;
    height: 420px;
    margin-bottom: 48px;
    width: calc((100% - 48px) / 3);
}
.port-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
}
.portfolio-link:hover,
.portfolio-link:focus{
color: #2E2F42;  
}
.portfolio-name-title{
    font-weight: 500;
    color: #2E2F42;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.porfolio-specf{
    color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer-list{
flex-shrink: 1;
background:#2e2f42;
flex-shrink: 0;
height: 312px;
}

.name-page{
    color:  #4d5ae5;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    width: 264px;
    padding-top: 100px;
    gap: 16px;
   
  
}
.design-logo-footer{
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-text{
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
   
}